Require all granted
Options FollowSymLinks
DirectoryIndex doc.php

RewriteEngine On

# Get all
RewriteRule ^(brands|stores|products|employees|categories|stocks)$ index.php [L]

# product with brand name
RewriteRule ^brands/([a-zA-Z0-9_-]+)$ index.php?brandName=$1 [QSA,L]

# product with category name
RewriteRule ^categories/([a-zA-Z0-9_-]+)$ index.php?categoryName=$1 [QSA,L]

# create
RewriteRule ^(brands|stores|products|employees|categories|stocks)/create$ index.php [L]

# Update
RewriteRule ^(brands|categories|products|stocks|stores)/update/(\d+)$ index.php [L]

# Delete
RewriteRule ^(brands|categories|products|stocks|stores)/delete/(\d+)$ index.php [L]